@charset "UTF-8";
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  /*outline: none;*/
}

a:focus,
a:active {
  /* outline: none;*/
}

/* Links */
a,
a:link,
a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  height: 100%;
  line-height: 1;
  font-size: 14px;
  color: #252B42;
  font-weight: 500;
  font-family: Montserrat;
  margin: 0;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* Для футера */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* Для футера */
}

._container {
  max-width: 1046px;
  margin: 0 auto;
  padding: 0 15px;
  /* Что бы не прилипал сайт к границам */
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.page__map {
  background: rgb(55, 55, 55);
}

.map__block-map {
  margin-top: 20px;
}

.block-map__pic {
  max-width: 850px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.block-map__point_krakow {
  top: 33.5%;
  left: 59.3%;
}
.block-map__point_hamburg {
  top: 22.5%;
  left: 42.2%;
}
.block-map__point_turin {
  top: 57.5%;
  left: 38.1%;
}
.block-map__point_madrid {
  top: 73.1%;
  left: 14.6%;
}
.block-map__tooltip_krakow {
  top: 14%;
  left: 58.1%;
}
.block-map__tooltip_hamburg {
  top: 3%;
  left: 41%;
}
.block-map__tooltip_turin {
  top: 38%;
  left: 36.9%;
}
.block-map__tooltip_madrid {
  top: 53.5%;
  left: 13.5%;
}

.point {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: rgba(255, 0, 71, 0.4);
  border: 1px solid rgb(255, 0, 71);
  opacity: 0;
  -webkit-animation: animate 1.5s linear infinite;
          animation: animate 1.5s linear infinite;
}
.point::before, .point::after {
  border-radius: 100%;
  border: 1px solid rgb(255, 0, 71);
  width: 30px;
  height: 30px;
  content: "";
  position: absolute;
  top: -31%;
  left: -6px;
}
.point::after {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.point:hover + .tooltip {
  -webkit-animation: button 5s ease-in-out 1s;
          animation: button 5s ease-in-out 1s;
}
@-webkit-keyframes animate {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0;
  }
}
@keyframes animate {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0;
  }
}

.tooltip {
  padding: 10px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgb(55, 55, 55);
  width: 200px;
  height: 100px;
  opacity: 0;
  -webkit-transition-delay: 5s;
       -o-transition-delay: 5s;
          transition-delay: 5s;
}
.tooltip:before {
  content: " ";
  position: absolute;
  top: 99%;
  left: 6%;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid rgb(55, 55, 55);
}
.tooltip__title {
  color: white;
  font-weight: 600;
  text-align: left;
  margin-bottom: 5px;
}
.tooltip__data {
  color: white;
  font-style: italic;
  text-align: left;
  margin-bottom: 5px;
}
.tooltip__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 180px;
  height: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  background: #ff0047;
}
@-webkit-keyframes button {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    opacity: 0;
  }
}
@keyframes button {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    opacity: 0;
  }
}